<div class="container-fluid">
    <div class="row primary-footer">
        <ul class="navbar d-flex footer-links">
            <li class="nav-item">
                <a class='nav-link nav-menu-item nav-menu-link' [routerLink]="'/'">FAQ's</a>
            </li>
            <li class="nav-item">
                <a class='nav-link nav-menu-item nav-menu-link' [routerLink]="'/'">Terms & Conditions</a>
            </li>
        </ul>
    </div>
    <div class="row secondary-footer">
        <a class='fa fa-heart footer-icon' [routerLink]="'/'"></a>
    </div>
</div>