<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="fa fa-heart header-icon" href="#"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class='nav-link nav-menu-item nav-menu-link' [routerLink]="'/'">Home</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link nav-menu-item nav-menu-link' [routerLink]="'/'">Our Story</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link nav-menu-item nav-menu-link' [routerLink]="'/'">Recue</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link nav-menu-item nav-menu-link' [routerLink]="'/'">Contact</a>
            </li>
        </ul>

    </div>

    <a class="fa fa-user-circle user-icon" href="#"></a>
</nav>